/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2019, 10:40:50
    Author     : alvaro
*/

body {
    background-image: url("../img/instPpal.jpg");
    background-repeat: no-repeat;

    font-family: sans-serif;
}

a {
    margin: 15px;
    justify-self: center;

    color: black;
}

input {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    justify-self: center;
    transition: 0.5s;
}

div {
    align-items: center;
}

fieldset {
    text-align: center;
}

footer {
    position: absolute !important;
    bottom: 1% !important;
    left: 1% !important;
}

input[type = 'submit'] {
    border: none;
    margin: 10px;
    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border-radius: 9px;
    width: 100px;
    height: 50px;

    justify-self: center;
}

input[type = 'number'] {
    width: 50px;
}

p {
    display: inline;
    justify-self: center;
}

label {
    text-align: center;
    width: 50%;
    flex: 1;
}

form {

    padding-top: 20%;

    border-radius: 9px;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 14.2857);
    justify-content: center;
}

h1 {
    margin: 15px;
    padding: 0px;
    text-align: center;
    font-size: 1.5em;

    justify-self: center;

    font-size: 2.5em;
}

select {
    margin-top: 5%;
    width: 300px;
    height: 50px;
}

.left {
    text-align: left !important;
}

#ppal {
    border: 10px solid #edfffe !important;

    margin-left: 60%;
    margin-top:8%;
    width: 25%;
    min-height: 485px;
    background-color: white;
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
}

@media
only screen 
and (max-width: 1250px), (min-device-width: 0px) 
and (max-device-width: 1250px)  {

    body {
        background-size: cover;
    }
    
    h1 {
        margin: 5px;
    }

    form {
        padding-top: 0;
        margin-top: 25%;
    }

    #ppal {
        margin: 40% 30% 40%;
        width: 40%;
        min-height: 500px;
    }
}

@media
only screen 
and (max-width: 740px), (min-device-width: 0px) 
and (max-device-width: 740px)  {
    
    body {
        background-image: none;
        background-color: #f5fffe;
        font-size: 2em;
    }
    
    #ppal {
        min-height: 300px;
        width: 95%;
        bottom: 25%;
        top: 20%;
        right: 1%;
        left: 1%;
        margin: 0;
        position: absolute;
    }
    
    input {
        height: 60px;
        font-size: 1.5em;
    }
    
    input[type = 'submit'] {
        height: 100px;
        width: 100px;
    }
    footer {
        visibility: hidden;
    }
}