/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2019, 10:40:50
    Author     : alvaro
*/

body {
    padding: 0px;
    margin: 0px;
    background-image: url("../img/instPpal.jpg");
    background-repeat: no-repeat;
    font-family: sans-serif;
}

header {
    z-index: 10;

    position: fixed;

    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 50px;
    background-color: #edfffe;
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    
    transition: 0.5s;
}

p {
    font-weight: bold;
    margin: 0;
}

input {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: none;
}

#aulas {
    display: flex;

    width: 100%;
    min-height: fit-content;
    padding-top: 0 !important;

    background-color: white;
    border-radius: 10px;
}

#divFecha {
    float: left;
    width: 50%;
}

#divAula {
    float: left;
    width: 50%;
}

#divBoton {
    height: fit-content;
    clear: left;
}

#reservar div {
    padding-top: 5%;
    justify-self: center;

    text-align: center;
}

#rooms div {
    padding-top: 5%;
    justify-self: center;

    text-align: center;
}

table {
    flex: 1;
    border-collapse: collapse;
}

table input {
    margin-right: 0 !important;
}

table, th, td {
    border-bottom: 1px solid #edfffe;
}



img {
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    float: right;
    vertical-align: middle;
}

h1 {
    text-align: center;
    margin-top: 1%;
    background-color: white;
    border: 2px solid #dcf2f1;
}

h2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dcf2f1;
}

a {
    color: black;
}

select {
    height: 30px;
    width: 100%;
}

#about {
    margin-top: 10px;
    background-image: url(../img/info.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    float: right;
}

#cese {
    margin-top: 10px;
    background-image: url(../img/logout.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    float: right;
}

#cancel {
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
}

#addAula {
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
}

#modifyAula, #modifyFranja, #modifyUser {
    background-image: url(../img/save.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
}

#changePassSubmit {
    background-image: url(../img/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
}

#deleteAula, #deleteUser {
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
}

#checkAula {
    min-height: 60px;
    width: 60px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: white;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: 5%;
}

#ppal, #ppalRoom, #profilePage, #aboutDiv {
    width: 100%;
    min-height: 400px;
    padding-top: 60px;
}

#aulasAdmin {
    padding: 5%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    margin-right: 20%;
    margin-left: 20%;
}

#franjasAdmin {
    padding: 5%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 250px;
    margin-right: 20%;
    margin-left: 20%;
}

#userAdmin, #bitacoraTable {
    padding: 5%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    margin-right: 1%;
    margin-left: 1%;
}

#bitacoraTable input {
    text-align: center;
}

#reservar, #changeProfilePic {
    width: 50%;
    min-width: 360px;
    min-height: 400px;
    float: left;
}

#reservas, #changePass {

    text-align: center;

    min-width: 360px;
    min-height: 400px;
    float: left;

    width: 50%;
}

#fecha {
    width: 100%;
}

#aulas table input[type = 'submit'] {
    width: 80px;
    background-color: #edfffe;
    border: 2px solid #dcf2f1;
    border-radius: 25px;
}

#aulas table input[type = 'submit']:hover {
    width: 80px;
    background-color: white;
    border: 2px solid #dcf2f1;
    border-radius: 25px;
}

#profPic {
    float: none;
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 5% 30%;
    cursor: auto;
}

#changeProfilePic, #changePass p {
    text-align: center;
}

#changeProfilePic form {
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#changePass form {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
}

#changePass input {
    border: 1px solid #dcf2f1;
    margin: 3% 24%;
    width: 50%;
}

#changePassSubmit {
    width: 60px !important;
    height: 60px;
    border: none !important;
    background-color: transparent;
    background-image: url(../img/save.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#changePassSubmit:hover  {
    background-color: #dcf2f1;
}

#changePass p {
    padding-top: 5%;
}

#changeProfilePic input[type = 'submit']  {
    width: 60px;
    height: 60px;
    margin: 2% 41%;
    background-color: transparent;
    background-image: url(../img/save.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#changeProfilePic input[type = 'submit']:hover  {
    background-color: #dcf2f1;
}

.especiales {
    width: 80px;
    background-color: #edfffe;
    border: 2px solid #dcf2f1;
    border-radius: 25px;
}

.especiales:hover {
    background-color: white;
}

.focus {
  background-color: #edfffe;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.pageNumber {
  padding: 2px;
}

.double {
    font-size: 2.5em;
}

#aulas table input[type = 'text'] {
    width: 40px;
    background: none;
    text-align: center;
}

#aulasAdmin table input[type = 'text'] {
    width: 40px;
    background: none;
    text-align: center;
}

#franjasAdmin table input[type = 'text'] {
    width: 40px;
    background: none;
    text-align: center;
}

#aulasUser table input[type = 'text'] {
    width: 80px;
    background: none;
    text-align: center;
}

#aulasUser table input[type = 'submit'] {
    width: 40px;
}

#aulasUser {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.large {
    width: 160px !important;
}

.editable {
    border: 1px solid #dcf2f1;
}

.bluestyle {
    background-color: #dcf2f1;

    padding-top: 0 !important;
    margin-top: 5%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-align: center;
    padding-top: 1%;
    margin: 2% 25%;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #dcf2f1;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #dcf2f1;
}

nav {
    margin-top: -0.15% !important;
    position: absolute;
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 150px;
    height: 15px;
    padding: 15px 5px;
    border: 5px solid #dcf2f1;
    border-radius: 5px;;
    text-align: center;
    background-color: #edfffe;
    color: #000;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

nav li > ul {
    position: absolute;
    left: 0px;
    top: 55px;
    display: block;
}

nav li > ul {
    display: none;
}

nav li:hover > ul {
    display: block;
}

footer {
    position: fixed;
    bottom: 1% !important;
    left: 1% !important;
}

tr td:nth-child(odd){ 
    background-color: #edfffe;
}

.transparent{ 
    background-color: transparent !important;
}

tr th:nth-child(odd){ 
    background-color: #edfffe;
}

@media
only screen 
and (max-width: 1250px), (min-width: 0px) 
and (max-device-width: 1250px)  {

    body {
        background-image: none;
        background-color: #f5fffe;
    }
    
    header nav {
        display: none;
    }
    
    input[type = 'text'] {
        width: fit-content !important;
    }

    #aulas table input[type = 'submit'] {
        background-color: white;
    }
    
    table, thead, tbody, th, td, tr {
        display: block !important;
    }
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    td:nth-child(odd) {
        background-color: #edfffe;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #b8d1f3;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    footer {
        visibility: hidden;
    }

    #aulas td:nth-of-type(1):before { content: "Num. Franja"; }
    #aulas td:nth-of-type(2):before { content: "Hora Comienzo"; }
    #aulas td:nth-of-type(3):before { content: "Hora Final"; }
    #aulas td:nth-of-type(4):before { content: "Estado"; }


    #aulasUser td:nth-of-type(1):before { content: "Fecha Reserva"; }
    #aulasUser td:nth-of-type(2):before { content: "Num. Franja"; }
    #aulasUser td:nth-of-type(3):before { content: "Hora Comienzo"; }
    #aulasUser td:nth-of-type(4):before { content: "Hora Final"; }
    #aulasUser td:nth-of-type(5):before { content: "Aula"; }
    #aulasUser td:nth-of-type(6):before { content: "Descripción"; }
    #aulasUser td:nth-of-type(7):before { content: ""; }
    
    #aulasAdmin td:nth-of-type(1):before { content: "Nombre"; }
    #aulasAdmin td:nth-of-type(2):before { content: "Descripción"; }
    #aulasAdmin td:nth-of-type(3):before { content: ""; }
    #aulasAdmin td:nth-of-type(4):before { content: ""; }
    
    #franjasAdmin td:nth-of-type(1):before { content: "Num. Franja"; }
    #franjasAdmin td:nth-of-type(2):before { content: "Hora Comienzo"; }
    #franjasAdmin td:nth-of-type(3):before { content: "Hora Final"; }
    #franjasAdmin td:nth-of-type(4):before { content: ""; }
    
    #userAdmin td:nth-of-type(1):before { content: "DNI"; }
    #userAdmin td:nth-of-type(2):before { content: "Correo"; }
    #userAdmin td:nth-of-type(3):before { content: "Nombre"; }
    #userAdmin td:nth-of-type(4):before { content: "Apellido"; }
    #userAdmin td:nth-of-type(5):before { content: "Edad"; }
    #userAdmin td:nth-of-type(6):before { content: "Roles"; }
    #userAdmin td:nth-of-type(7):before { content: "Estado"; }
    #userAdmin td:nth-of-type(8):before { content: ""; }
    #userAdmin td:nth-of-type(9):before { content: ""; }
    
    #bitacoraTable td:nth-of-type(1):before { content: "Acción"; }
    #bitacoraTable td:nth-of-type(2):before { content: "Fecha y hora"; }
    #bitacoraTable td:nth-of-type(3):before { content: "Correo"; }
    #bitacoraTable td:nth-of-type(4):before { content: "Rol"; }
}

@media
only screen 
and (max-width: 740px), (min-width: 0px) 
and (max-device-width: 740px)  {

    #reservar, #reservas, #changePass, #changeProfilePic, #aboutDiv {
        min-width: 100%;
        width: 100%;
    }
    
    #aulasAdmin, #franjasAdmin, #changePass, #changeProfilePic, #aboutDiv {
        margin-left: 0;
        margin-right: 0;
    }
}

@media
only screen 
and (min-width: 0px) 
and (max-device-width: 740px)  {
    
    td {
        font-size: 2em;
    }
    
    input[type = 'text'] {
        font-size: 1em;
        width: fit-content !important;
    }
    
    input[type=date], select {
        height: 60px;
        font-size: 2em;
    }
    
    p {
        font-size: 2em;
    }
    
    header {
        min-height: 100px;
    }
    
    .bigFont {
        font-size: 2em;
    }
    
    #profilePage label {
        height: 60px;
    }
    
    #profilePage input[type=password] {
        font-size: 1em;
    }
    
    #profilePage {
        padding-top: 100px;
        font-size: 2em;
    }
    
    #rooms {
        padding-top: 100px;
    }
    
    #rooms h1 {
        font-size: 3em;
    }
    
    #sidenav {
        font-size: 4.5em !important;
        width: 100px !important;
    }
    
    #userIcon {
        width: 100px;
        height: 100px;
    }
    
    #about, #cese {
        margin-top: 20px;
        width: 60px !important;
        height: 60px;
    }
    
    td input {
        font-size: 0.7em;
        width: fit-content !important;
        height: 60px;
    }
    
    #modifyUser, #deleteUser, #modifyAula, #modifyFranja, #deleteAula, #addAula, #cancel {
        width: 60px !important;
        height: 60px;
    }
    
    #checkAula {
        background-size: 70px;
        width: 100px !important;
        height: 100px;
    }
}