/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2019, 10:40:50
    Author     : alvaro
*/

body {
    padding: 0px;
    margin: 0px;
    background-image: url("../img/instPpal.jpg");
    background-repeat: no-repeat;
    font-family: sans-serif;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 50px;
    background-color: #edfffe;
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
}

input {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    float: right;
    background-color: transparent;
}

img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    float: right;
    vertical-align: middle;
}

div {
    justify-self: center;
    text-align: center;
}

div img {
    justify-self: center !important;
    height: max-content !important;
    width: auto !important;
}

h1 {
    justify-self: center;
    font-size: 4em;
}

#content {
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    
    z-index: -1;
    position: relative;
    min-height: 550px;
    width: 500px;
    background-color: white;
    float: right;
    right: 10%;
    top: 25%;
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.21);
}

#about {
    margin-top: 10px;
    background-image: url(../img/info.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#cese {
    margin-top: 10px;
    background-image: url(../img/logout.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav {
    margin-top: -0.15% !important;
    position: absolute;
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 150px;
    height: 15px;
    padding: 15px 5px;
    border: 5px solid #dcf2f1;
    border-radius: 5px;;
    text-align: center;
    background-color: #edfffe;
    color: #000;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

nav li > ul {
    position: absolute;
    left: 0px;
    top: 55px;
    display: block;
}

nav li > ul {
    display: none;
}

nav li:hover > ul {
    display: block;
}

footer {
    position: absolute !important;
    bottom: 1% !important;
    left: 1% !important;
}

@media
only screen 
and (max-width: 1250px), (min-width: 0px) 
and (max-device-width: 1250px)  {
    
    header nav {
        display: none !important;
    }
}

@media
only screen 
and (max-width: 740px), (min-width: 0px) 
and (max-device-width: 740px)  {

    
}